


body{


    margin: 0;
    padding: 0;
   color: white;
   background-color: rgb(211, 202, 202);
}


.grid > div {

   
     border: solid 1px red ;
}


.grid{


    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px 100px 100px ;
    grid-template-areas:    "header header header"
                            " sidebar main right"
                            "sidebar footer footer";
}





.case1{

    background-color: rgb(214, 113, 113);
    grid-area: header;
   
}

.case2{

    background-color:rgb(214, 113, 113);
    grid-area: sidebar;
}

.case3{

    background-color: rgb(214, 113, 113);
    grid-area: main;
}

.case4{

    background-color: rgb(214, 113, 113);
   grid-area: right;
}

.case5{

    background-color: rgb(214, 113, 113);
    grid-area: footer;
}



@media only screen and (max-width: 550px) { 
    .grid{

        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 100px 100px 100px ;
        grid-template-areas: 
        
        "header"
        "sidebar"
        "main"
        "right"
        "footer"
        
        ;
    }
    
}